<div style="text-align: center">
	<!-- Put logo here -->
	<h1 style="color:rgba(38,199,132,1);font-family: 'Open Sans', sans-serif;font-size:50px;">Welcome</h1>
	<p style="width:100%;max-width:400px;padding:0em 2.5em 2em 2.5em;display: block;margin:0 auto;margin-bottom: 1em;box-sizing: border-box;">We're glad you joined us on your house hunt. Now, let us help you find the right house and neighborhood to call home.</p>
	<a href= <%=root_url%> style="text-decoration: none;color:white;padding:1em 3.5em;background-color:rgba(38,199,132,1);border-radius: 5px;">Start Your Search</a>
	<img src="https://raw.githubusercontent.com/tfb34/homesprinter/master/app/assets/images/house.jpg" style="width:95vw;max-width:550px;display:block;margin:0 auto;margin-top:5em;">
</div>