<div id="mobile-menu" class="">
	<div style="text-align: center;margin-top:0.8em">

	<%= link_to root_url do%>
		<%=image_tag 'logo.svg', :class =>"logo"%>
	<%end%>

	</div>

	<button>
		<%=link_to 'Sign up/Sign in', signup_url%>
	</button>
</div>