<div class="navbar">
	<a href=<%=root_url%> ><%= image_tag 'logo.svg', :class => "logo"%></a>

</div>
<div id="menu-btn" onclick="toggleMenu()">
		<span class="bar1"></span>
		<span class="bar2"></span>
		<span class="bar3"></span>
	</div>