<div class="navbar">
	<%= image_tag 'logo.svg', :class => "logo"%>

</div>
<div id="menu-btn" onclick="toggleMenu()">
		<span class="bar1"></span>
		<span class="bar2"></span>
		<span class="bar3"></span>
	</div>