<h1 style="text-align: left;padding-left: 1em">About</h1>
<div style="max-width:500px;padding:1em;">
<p>My name is Thalia. This is a pet project of mine
I've been working on for l~e~a~r~n~i~n~g purposes. Design wasn't my focus here so, I looked to Trulia for the design layout. </p>

<h3>What can I do?</h3>
<ul>
	<li>Search for houses in the Jersey City area</li>
	<li>Create a user account</li>
	<li>Keep track of the homes you like</li>
	<li>Narrow your search through the use of filters</li>
</ul>

<h3>Are these house details legit?</h3>
Not really. Listings were curated in late 2018, <i>aaand</i> have not been updated since. 

<h3>Why?</h3>
<p>My goal was to cement my front-end skills and utilize reactjs <i>blah blah blah</i>. It will look good on my portfolio and perhaps overshadow that gaping hole I call my real-world development experience. <br><br>

This project was challenging, fun, and even rewarding. Started out trying to learn reactjs by reading all the documentation, but that didn't last long. The learning part eventually kicked in as a byproduct of getting things done and working correctly. 
 </p>
</div>



