<div id="bg"></div>
<div class="myContainer">
	<div id="welcome-content">
		<h1>Make finding your home easy.</h1>
		<div id="search-menu">
			<span class="current">Buy</span>
			<span>Rent</span>
			<span>Sold</span>
		</div>
		<form>
			<input type="text" name="" placeholder="Address, Neighborhood, City, ZIP">
			<%= image_tag 'search-icon.svg', :id => "search-icon"%>
		</form>
	</div>
</div>

