<!-- put together a home result x times -->
<div class="home-grid-container">
	<%if @homes.nil?%>
		<p id="search-result-count">Search Results &mdash; 0</p>
	<%else%>
		<p id="search-result-count">Search Results &mdash; <%= @homes.count%></p>
		<%= render :partial => 'homes/home_list', :locals => {:homes => @homes} %>
	<%end%>
</div>